@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 1px solid red;
}

h1 {
  @apply text-3xl font-bold text-gray-800;
}

td, th {
  border: 1px solid black;
}

th {
  @apply bg-green-color text-white px-16;
}

tr:nth-child(even) {
  @apply bg-gray-200;
}

td > div{
  @apply flex justify-center;
}

button, button[type='button'], button[type='submit'] {
  @apply bg-green-color text-white font-semibold px-3 py-2 rounded-md hover:bg-green-hover;
}

select, input {
  @apply rounded-md border border-gray-300 px-2 py-1 outline-none focus:border-green-hover;
}
